<header class="head" style="max-width:1500px">
    <div id="home">
    
     <h3>Photos</h3>
    
        <body>
        <table>
        <div id="content">
            <img src="1.jpg" alt="1" width="250px" height="270px" >
            <img src="2.jpg" alt="2" width="250px" height="270px" >
            <img src="3.jpg" alt="3" width="250px" height="270px"> 
            <img src="4.jpg" alt="4" width="250px" height="270px" > 
            <img src="5.jpg" alt="5" width="250px" height="270px" > 
            <img src="6.jpg" alt="6" width="250px" height="270px" > 
            <img src="7.jpg" alt="7" width="250px" height="270px" >
            <img src="8.jpg" alt="8" width="250px" height="270px"> 
            <img src="9.jpg" alt="9" width="250px" height="270px">

        
        <a href="Data.html">
        <button class="button3">Back to previous</button>
        </a>

    
    
       
    </body>
        </div>
        
    
    </table>
    </div>
    </header>  